html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.form-container {
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 10px solid #ccc;
    width: auto;
    max-width: 500px;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.form-input {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
}


.accordion-item {
    border-top: 1px solid #ccc;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0; /* Set your desired background color */
}

.accordion-content {
    display: none;
    padding: 10px;
}

.active .accordion-header {
    background-color: #ddd; /* Set your desired active background color */
}